<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Settings bill</title>
    <link rel="stylesheet" href="/stylesheets/skeleton.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <div class="container">
        <div class="row">

            {{!-- <div class="twelve columns box"> --}}
                {{{body}}}

            {{!-- </div> --}}
        </div>
    </div>
</body>

</html>